.box_container1{
    margin:1px;
    border-radius: 5px;
    width: 600px;
    height: 106px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.box_container2{
    margin:1px;
    border-radius: 5px;
    width: 600px;
    height: 106px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box_container3{
    margin:1px;
    border-radius: 5px;
    width: 600px;
    height: 106px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.box{
    margin:3px;
    background-color: pink;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}